aside.sg
	ul.styleNav
		li
			a(href="#color") Colours
		li
			a(href="#typography") Typography
			ul
				li
					a(href="#h1") h1
				li
					a(href="#h2") h2
				li
					a(href="#h3") h3
				li
					a(href="#p") p
				li
					a(href="#ptitle") p.title
				li
					a(href="#plarge") p.large
				li
					a(href="#plarge") p.large
				li
					a(href="#strong") strong
				li
					a(href="#em") em
				li
					a(href="#small") small
				li
					a(href="#a") a
				li
					a(href="#ahover") ahover
				li
					a(href="#ul") ul
				li
					a(href="#ol") ol
		li
			a(href="#status") Status
				ul
					li
						a(href="#pred") p.red
					li
						a(href="#pgreen") p.green
					li
						a(href="#pmuted") p.muted
					li
						a(href="#pwarning") p.warning
		li
			a(href="#forms") Forms
				ul
					li
						a(href="#input") input
					li
						a(href="#inputerror") input.error
					li
						a(href="#inputsuccess") input.success
					li
						a(href="#label") label
					li
						a(href="#labelinline") label.inline
					li
						a(href="#select") select
					li
						a(href="#textarea") textarea
		li
			a(href="#buttons") Buttons
				ul
					li
						a(href="#btn") button
					li
						a(href="#btnprimary") primary button
					li
						a(href="#btnsuccess") success button
					li
						a(href="#btnerror") error button
		li
			a(href="#codetags") Code Elements
				ul
					li
						a(href="#code") code
					li
						a(href="#kbd") keyboard
					li
						a(href="#pre") pre
		li
			a(href="#icons") Icons