article#buttons
	h2.style Buttons

	.guideItem#btn
		.title
			p button
			pre
				code.html
					| &lt;button&gt;Click Me&lt;/button&gt;
					| &lt;a href="#" class="button"&gt;Click Me&lt;/a&gt;
		button.default Click Me
		a.button Click Me

	.guideItem#btnprimary
		.title
			p button.primary
			pre
				code.html
					| &lt;button class="primary"&gt;Click Me&lt;/button&gt;
					| &lt;a href="#" class="button primary"&gt;Click Me&lt;/a&gt;
		button.primary Click Me
		a.button.primary Click Me

	.guideItem#btnsuccess
		.title
			p button.success
			pre
				code.html
					| &lt;button class="success"&gt;Click Me&lt;/button&gt;
					| &lt;a href="#" class="button success"&gt;Click Me&lt;/a&gt;
		button.success Click Me
		a.button.success Click Me

	.guideItem#btnerror
		.title
			p button.error
			pre
				code.html
					| &lt;button class="error"&gt;Click Me&lt;/button&gt;
					| &lt;a href="#" class="button error"&gt;Click Me&lt;/a&gt;
		button.error Click Me
		a.button.error Click Me

	.guideItem#submit
		.title
			p input submit
			pre
				code.html
					| &lt;input type="submit" /&gt;
		input(type="submit")