article#icons
	h2.style Icons

	.guideItem
		.title
			p i.chalk-add
			pre
				code.html &lt;i class="chalk-add"&gt;&lt;/i&gt;
		p
			i.chalk-add

	.guideItem
		.title
			p i.chalk-copy
			pre
				code.html &lt;i class="chalk-copy"&gt;&lt;/i&gt;
		p
			i.chalk-copy

	.guideItem
		.title
			p i.chalk-leftArrow
			pre
				code.html &lt;i class="chalk-leftArrow"&gt;&lt;/i&gt;
		p
			i.chalk-leftArrow 
	
	.guideItem
		.title
			p i.chalk-rightArrow
			pre
				code.html &lt;i class="chalk-rightArrow"&gt;&lt;/i&gt;
		p
			i.chalk-rightArrow

	.guideItem
		.title
			p i.chalk-close
			pre
				code.html &lt;i class="chalk-close"&gt;&lt;/i&gt;
		p
			i.chalk-close

	.guideItem
		.title
			p i.chalk-remove
			pre
				code.html &lt;i class="chalk-remove"&gt;&lt;/i&gt;
		p
			i.chalk-remove

	.guideItem
		.title
			p i.chalk-code
			pre
				code.html &lt;i class="chalk-code"&gt;&lt;/i&gt;
		p
			i.chalk-code

	.guideItem
		.title
			p i.chalk-doc
			pre
				code.html &lt;i class="chalk-doc"&gt;&lt;/i&gt;
		p
			i.chalk-doc

	.guideItem
		.title
			p i.chalk-download
			pre
				code.html &lt;i class="chalk-download"&gt;&lt;/i&gt;
		p
			i.chalk-download 

	.guideItem
		.title
			p i.chalk-edit
			pre
				code.html &lt;i class="chalk-edit"&gt;&lt;/i&gt;
		p
			i.chalk-edit

	.guideItem
		.title
			p i.chalk-github
			pre
				code.html &lt;i class="chalk-github"&gt;&lt;/i&gt;
		p
			i.chalk-github

	.guideItem
		.title
			p i.chalk-heart
			pre
				code.html &lt;i class="chalk-heart"&gt;&lt;/i&gt;
		p
			i.chalk-heart 

	.guideItem
		.title
			p i.chalk-home
			pre
				code.html &lt;i class="chalk-home"&gt;&lt;/i&gt;
		p
			i.chalk-home

	.guideItem
		.title
			p i.chalk-image
			pre
				code.html &lt;i class="chalk-image"&gt;&lt;/i&gt;
		p
			i.chalk-image

	.guideItem
		.title
			p i.chalk-link
			pre
				code.html &lt;i class="chalk-link"&gt;&lt;/i&gt;
		p
			i.chalk-link 

	.guideItem
		.title
			p i.chalk-log-out
			pre
				code.html &lt;i class="chalk-log-out"&gt;&lt;/i&gt;
		p
			i.chalk-log-out 

	.guideItem
		.title
			p i.chalk-email
			pre
				code.html &lt;i class="chalk-email"&gt;&lt;/i&gt;
		p
			i.chalk-email

	.guideItem
		.title
			p i.chalk-save
			pre
				code.html &lt;i class="chalk-save"&gt;&lt;/i&gt;
		p
			i.chalk-save 

	.guideItem
		.title
			p i.chalk-twitter
			pre
				code.html &lt;i class="chalk-twitter"&gt;&lt;/i&gt;
		p
			i.chalk-twitter

	.guideItem
		.title
			p i.chalk-users
			pre
				code.html &lt;i class="chalk-users"&gt;&lt;/i&gt;
		p
			i.chalk-users 

