article#status
	h2.style Type Status Classes

	.guideItem#pred
		.title
			p p.red
			pre
				code.html &lt;p class="error"&gt;This is a p tag with a class of error&lt;/p&gt;
		p.red This is an error message

	.guideItem#psuccess
		.title
			p p.green
			pre
				code.html &lt;p class="green"&gt;This is a p tag with a class of green&lt;/p&gt;
		p.green This is a success message

	.guideItem#pmuted
		.title
			p p.grey
			pre
				code.html &lt;p class="grey"&gt;This is a p tag with a class of grey&lt;/p&gt;
		p.grey This is muted text

	.guideItem#pwarning
		.title
			p p.redLight
			pre
				code.html &lt;p class="redLight"&gt;This is a p tag with a class of redLight&lt;/p&gt;
		p.redLight This is warning text


