article#status
	h2.style Type Status Classes

	.guideItem#perror
		.title
			p p.error
			pre
				code.html &lt;p class="error"&gt;This is a p tag with a class of error&lt;/p&gt;
		p.error This is an error message

	.guideItem#psuccess
		.title
			p p.success
			pre
				code.html &lt;p class="success"&gt;This is a p tag with a class of success&lt;/p&gt;
		p.success This is a success message

	.guideItem#pmuted
		.title
			p p.muted
			pre
				code.html &lt;p class="muted"&gt;This is a p tag with a class of muted&lt;/p&gt;
		p.muted This is muted text

	.guideItem#pwarning
		.title
			p p.warning
			pre
				code.html &lt;p class="warning"&gt;This is a p tag with a class of warning&lt;/p&gt;
		p.warning This is warning text

