@import 'setup.css';
@import 'partials/brand.css';

img { max-width: 100% }
svg { max-height: 100% }

body {
  color: $black;
  background-color: #ECEDEB;
}

@import 'partials/typography.css';
@import 'partials/code.css';
@import 'partials/buttons.css';
@import 'partials/forms.css';
@import 'styleGuide.css';


.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.card {
	background: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	padding: 3rem 3.9rem 2.5rem;
}

header.mainHeader {
	padding: 25px 0;
	margin-bottom: 10rem;
	.innerWrap {
		position: relative;
		padding-left: ;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5rem 3.9rem 3.3rem 250px;
		img.topLogo {
			position: absolute;
			width: 195px;
			top: -25px;
			left: 3rem;
		}
		p.signOut a {
			color: $black;
			border: 0;
		}
	}
}

@import 'partials/footer.css';
@import 'partials/login.css';




