@lost gutter 3.3rem;
@lost flexbox flex;

@import 'setup.css';
@import 'utilities/brand.css';

img { max-width: 100% }
svg { max-height: 100% }

body {
  color: $black;
  background-color: #ECEDEB;
}

@import 'utilities/typography.css';
@import 'utilities/code.css';
@import 'utilities/buttons.css';
@import 'utilities/forms.css';
@import 'styleGuide.css';

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.card {
	background: #fff;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.12);
	
}

.container {
	lost-utility: clearfix;
	max-width: 990px;
	margin: 0 auto;
}

.full {
	margin: 0 auto;
	lost-utility: clearfix;
}

header.intro {
	border-bottom: 1px $greyLight solid;
	padding-bottom: 5rem;
	margin-bottom: 4rem;
}

header.topContent {
	margin-bottom: 10px;
	margin-top: 10px;
	.headerLinks {
		margin-bottom: 40px;
	}
}

section.detailsForm {
	padding: 25px 45px 10px;
	margin: 30px 0 50px;
}

.setupCard {
	padding: 25px 45px 50px;
	margin: 50px 0 60px;
	& + .content {
		border-top: 1px solid $greyLight;
		padding-top: 30px;
	}
}

@import 'partials/modal.css';
@import 'partials/header.css';
@import 'partials/footer.css';
@import 'partials/login.css';
@import 'partials/dashboard.css';
@import 'partials/classroom.css';
@import 'partials/lessons.css';
@import 'partials/template.css';




