@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

header.sgTop {
	/*margin-bottom: 2.5rem;*/
	padding: 4rem 0;
}

#content footer {
	padding: 0 0 4rem;
	font-size: 1.7rem;
}

div.title {
	color: $black;
	font-family: 'Work Sans', sans-serif; 
  font-weight: 300;
  margin-bottom: 3rem;
  /*margin-top: 7rem;*/
  border-bottom: 1px solid $blueLight;
  p {
  	font-size: 3rem;
  }
  pre {
  	font-size: 1.2rem;
  	background: none;
  	border: 0;
  }
}

.top {
	margin-top: 0;
	margin-bottom: 0rem;
}

.guideItem {
	margin: 6rem 0 10rem;
}

section.content {
	width: 75%;
	float: left;
}

aside.sg {
	width: 25%;
	float: left;
	ul {
		font-size: 1.4rem;
	}
}

ul.styleNav ul {
	display: none;
	padding: 0 2rem;
}

ul.styleNav li:hover > ul {
	display: block;
}



.guide article {
	border-top: 5px solid $blackLight;
	padding-top: 5rem;
	/*margin-top: 10rem;*/
}

.top h1 {
	font-size: 6rem;
	border: none;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}

h2.style {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 3rem;
}

.swatchContainer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	& > * {
		width: 30%;
		margin: 3rem 0;
		margin-right: 3.33%;
	}
}

.swatch {
	width: 100%;
	height: 120px;
	position: relative;
	.diff {
		position: absolute;
		width: 50%;
		height: 50%;
		bottom: 0;
	}
	.diffL {
		left: 0;
	}
	.diffR {
		left: 50%;
	}
}


.swatchRed { background: $red; }
.swatchRedLight { background: $redLight; }
.swatchRedDark { background: $redDark; }
.swatchBlack { background: $black; }
.swatchBlackLight { background: $blackLight; }
.swatchBlackDark { background: $blackDark; }
.swatchBlue { background: $blue; }
.swatchBlueLight { background: $blueLight; }
.swatchBlueDark { background: $blueDark; }
.swatchGreen { background: $green; }
.swatchGreenLight { background: $greenLight; }
.swatchGreenDark { background: $greenDark; }
.swatchGrey { background: $grey; }
.swatchGreyLight { background: $greyLight; }
.swatchGreyDark { background: $greyDark; }



/*Highlight JS styling*/
.hljs{display:block;overflow-x:auto;padding:1rem;background:#1d1f21;-webkit-text-size-adjust:none}.hljs::selection,.hljs span::selection{background:#373b41}.hljs::-moz-selection,.hljs span::-moz-selection{background:#373b41}.hljs,.hljs-setting .hljs-value,.hljs-expression .hljs-variable,.hljs-expression .hljs-begin-block,.hljs-expression .hljs-end-block,.hljs-class .hljs-params,.hljs-function .hljs-params,.hljs-at_rule .hljs-preprocessor{color:#c5c8c6}.hljs-title,.hljs-function .hljs-title,.hljs-keyword .hljs-common,.hljs-class .hljs-title,.hljs-decorator,.hljs-tag .hljs-title,.hljs-header,.hljs-sub,.hljs-function{color:#f0c674}.hljs-comment,.hljs-output .hljs-value,.hljs-pi,.hljs-shebang,.hljs-doctype{color:#707880}.hljs-number,.hljs-symbol,.hljs-literal,.hljs-deletion,.hljs-link_url,.hljs-symbol .hljs-string,.hljs-argument,.hljs-hexcolor,.hljs-input .hljs-prompt,.hljs-char{color:#c66}.hljs-string,.hljs-special,.hljs-doctag,.hljs-addition,.hljs-important,.hljs-tag .hljs-value,.hljs-at.rule .hljs-keyword,.hljs-regexp,.hljs-attr_selector{color:#b5bd68}.hljs-variable,.hljs-property,.hljs-envar,.hljs-code,.hljs-expression,.hljs-localvars,.hljs-id,.hljs-variable .hljs-filter,.hljs-variable .hljs-filter .hljs-keyword,.hljs-template_tag .hljs-filter .hljs-keyword,.hljs-name{color:#b294bb}.hljs-statement,.hljs-label,.hljs-keyword,.hljs-xmlDocTag,.hljs-function .hljs-keyword,.hljs-chunk,.hljs-cdata,.hljs-link_label,.hljs-bullet,.hljs-class .hljs-keyword,.hljs-smartquote,.hljs-method,.hljs-list .hljs-title,.hljs-tag{color:#81a2be}.hljs-pseudo,.hljs-exception,.hljs-annotation,.hljs-subst,.hljs-change,.hljs-cbracket,.hljs-operator,.hljs-horizontal_rule,.hljs-preprocessor .hljs-keyword,.hljs-typedef,.hljs-template_tag,.hljs-variable,.hljs-variable .hljs-filter .hljs-argument,.hljs-at_rule,.hljs-at_rule .hljs-string,.hljs-at_rule .hljs-keyword{color:#8abeb7}.hljs-type,.hljs-typename,.hljs-inheritance .hljs-parent,.hljs-constant,.hljs-built_in,.hljs-setting,.hljs-structure,.hljs-link_reference,.hljs-attribute,.hljs-blockquote,.hljs-quoted,.hljs-class,.hljs-header{color:#de935f}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

