button, .button {
  font-family: $mediumFont;
  display: inline-block;
  background: $grey;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 1.42857143;
  outline: none;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.12);
	@include bp(xs) {
		margin-bottom: 10px;
	}
  &:hover {
    background: $greyLight;
    border: 0;
    color: white;
  }
  &.primary {
    background: $blue;
    color: white;
    border: 1px solid $blueLight;
    &:hover {
      background: $blueLight;
      border: 1px solid $blue;
    }
  }
  &.success {
    background: $green;
    border: 1px solid $greenLight;
    color: white;
    &:hover {
      background: $greenLight;
      border: 1px solid $green;
    }
  }
  &.error {
    background: $red;
    border: 1px solid $redLight;
    color: white;
    &:hover {
      background: $redLight;
      border: 1px solid $red;
    }
  }
  &.deactivated {
    background: grey;
  }
}

a.linkBtn {
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  &.dashboardBtn i {
    font-size: 2.5rem;
  }  
}

input[type="submit"] {
  font-family: $regularFont;
  display: inline-block;
  background: $black;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: $blackLight;
    border: 0;
    color: white;
  }
}


button.small, .button.small {
  display: inline-block;
  font-family: $regularFont;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  background: $grey;
  padding: 0.5rem 1rem;
  &.active {
    background: $red;
  }
}

i.selectCard {
  padding: 10px;
  float: right;
  border: 1px solid black;
}


