@mixin bp($point) {
  @if $point == xl { // 1050px
    @media (max-width: 105rem) { @content; }
  }
  @else if $point == lg { // 900px
    @media (max-width: 90rem) { @content; }
  }
  @else if $point == md { // 768px
    @media (max-width: 76.8rem) { @content; }
  }
  @else if $point == sm { // 480px
    @media (max-width: 48rem) { @content; }
  }
}

@mixin cf {
	*zoom: 1;
	&::before,
	&::after {
		display: table;
		content: "";
		line-height: 0;
	}
	&::after {
		clear: both;
	}
}

// Hide text
// ---------
@mixin hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}