code {
	background: $codeGrey;
	border: 1px solid $grey;
	border-radius: 2px;
	font-size: 1.2rem;
	color: #61665B;
	padding: 5px;
}

kbd {
	background: $black;
	border-radius: 2px;
	font-size: 1.2rem;
	color: $grey;
	padding: 5px 3px;
}

pre {
	background: $codeGrey;
	border: 1px solid $grey;
	font-size: 1.3rem;
	color: $grey;
	padding: 9px;
	line-height: 1.5;
	border-radius: 2px;
	margin: 0;
	code {
		background: none;
		border: 0;
	}
}