extends layout

block content
	#content.wrapper

		header.sgTop
			.top
				h1 HY Notes Style Guide
				
	
		.guide.clearfix
			section.content

				include ./includes/colours.jade

				include ./includes/typography.jade

				include ./includes/status.jade

				include ./includes/forms.jade

				include ./includes/buttons.jade

				include ./includes/code.jade

				include ./includes/icons.jade
				
					

			include ./includes/aside.jade

		footer
			| Copyright 2015 HackerYou
			
