<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title HY Notes Styleguide
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
		link(href="../styles/style.css", rel='stylesheet')
		body

		block content

		
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js")
		script(src="scripts/vendor/jquery.sticky-kit.min.js")
		script(src="scripts/main.min.js")

		


	
