section.lessonsWrap {
	lost-flex-container: row;
	margin-bottom: 5rem;
	position: relative;
	@include bp(sm) {
		margin-bottom: 0;
	}
	.lessonColumn {
		lost-column: 8/12;
		@include bp(sm) {
			lost-column: 1/1;
		}
	}
	ol {
		counter-reset: num;
		list-style-type: none;
		li:before {
			font-size: 2.25rem;
			font-family: $headerFont;
			font-weight: 700;
			counter-increment: num;
			content: counters(num,".") " ";
			@include bp(sm) {
				font-size: 1.7rem;
			}
		}
	}
	ol.lessonColumn {
		margin: 0;
		padding: 0;
		& > li {
			margin-bottom: 5rem;
			@include bp(sm) {
				margin-bottom: 3rem;
				h3 {
					font-size: 2rem;
					margin-bottom: 1rem;
				}
			}
			&:before {
				content: '';
			}
			&:last-child ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li:before {
					content: '';
				}
			}
		}
		li.new-lessonRow:before {
			content: '';
		}
		li:last-child {
			border-bottom: 0;
		}
	}
}




	ol.lessonColumn .card {
	padding: 10px 20px;
	@include bp(sm) {
		padding: 0px 10px;
	}
	ol {
		margin: 0;
		padding: 0;
		li {
			padding: 20px 10px;
			@include bp(sm) {
				padding: 10px 5px;
			}
		}
	}
}

li.lessonRow {
	lost-flex-container: row;
	align-items: center;
	border-bottom: 1px solid $border;
	&:before {
		lost-column: 2/12;
		@include bp(sm) {
			lost-column: 1/6;
		}
		@include bp(xs) {
			lost-column: 1.5/5;
		}
	}
	&:hover > .lessonMeta span {
		display: inline-block;
	}
	a {
		display: inline-block;
		border: 0;
		color: $black;
	}
	.lessonInfo {
		lost-column: 7/12;
		@include bp(sm) {
			lost-column: 5/6;
		}
		@include bp(xs) {
			lost-column: 3.5/5;
		}
	}
	.lessonMeta {
		lost-column: 3/12;
		lost-flex-container: row;
		align-items: center;
		justify-content: flex-end;
		color: $grey;
		@include bp(sm) {
			display: none;
		}
		span {
			display: none;
			margin-right: 10px;
		}
		a {
			display: inline-block;
			border: none;
			color: $grey;
		}
	}
}



li.new-lessonRow {
	lost-flex-container: row;
	align-items: center;
	/*padding: 25px 10px;*/
	p {
		cursor: pointer;
		font-size: 1.4rem;
		font-family: $baseFont;
	}
}

article.lessonNew {
	background: #fff;
	padding: 30px 20px;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.12);
}

.lessonMeta {
	// lost-column: 4/12;
	// lost-flex-container: column;
	@include bp(sm) {
		display: none;
	}
	.sideCard {
		lost-row: 1/3;
		.card {
			padding: 20px;
			h3 { margin-top: 0 }
			button {
				width: 100%;
			}
		}
	}
	button.error {
		margin-right: 0;
	}
}

// .supersticky {
// 	position: fixed;
// 	top: 0;
// 	min-width: 307px;
// 	width: auto;
// 	margin-bottom: 200px;
// }

.topicLegend {
	ul {
		// margin: 0 0 30px;
		margin: 0;
		list-style: none;
		font-weight: 700;
		font-family: $headerFont;
		position: relative;
		padding: 0 0 20px 10px;
		border-bottom: 1px solid $border;
		a {
			text-decoration: none;
			border: none;
			color: $black;
		}
		li.active {
			color: $red;
			position: relative;
			&:before {
				content: '>';
				position: absolute;
			  left: -12px;
			}
		}
	}
	button {
		width: 100%;
	}
}
