section.dashWrap {
	lost-flex-container: row;
	margin-bottom: 5rem;
	@include bp(md) {
		height: 100%;
		margin-bottom: 0;
	}
	.classCard {
		display: inline-block;
		lost-waffle: 1/3;
		margin-bottom: 25px;
		border: 0;
		color: $black;
		@include bp(md) {
			lost-waffle: 1/2;
		}
		@include bp(sm) {
			width: 100%;
			lost-waffle: 1/1;
		}
		@include bp(xs) {
			max-width: auto;
		}
		article {
			padding: 1.4rem 1.5rem 2rem 2rem;
			@include bp(md) {
				h4 {
					margin: 0;
				}
				h3 {
					margin-top: 1rem;
					margin-bottom: 1rem;
				}
			}
		}
		footer.classCardMeta {
			margin-top: 4rem;
			lost-flex-container: row;
			align-items: baseline;
			justify-content: space-between;
			@include bp(sm) {
				margin-top: 1.5rem;
			}
		}
	}
}

header.intro {
	text-align: center;
	.buttons {
		display: flex;
		justify-content: space-between;
		background: white;
		padding: 30px;
		@include bp(sm) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			a {
				display: inline-block;
				margin-top: 1rem;
			}
		}
		p {
			margin: 0
		}
	}
}
