header.mainHeader {
	padding: 40px 0;
	margin-bottom: 3rem;
	@include bp(md) {
		padding: 1rem 0;
		margin-bottom: 0;
	}
	.innerWrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.4rem 3.9rem 2.4rem 240px;
		@include bp(md) {
			padding: 1rem 2rem 1rem 1rem;
			justify-content: flex-start;
		}
		.userInfo {
			display: flex;
			align-items: center;
			flex-flow: row wrap;
			width: 100%;
			justify-content: space-between;
			@include bp(sm) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
			}
		}
		.topLogo {
			display: inline-block;
			position: absolute;
			width: 170px;
			top: -27px;
			left: 4.5rem;
		  line-height: 0;
			@include bp(md) {
				width: 100px;
				position: static;
				margin-right: 1.5rem;
			}
		}
		h3 {
			@include bp(sm) {
				margin: 0;
				font-size: 2rem;
			}
		}
		p.signOut {
			margin: 0;
			@include bp(md) {
				font-size: 1.4rem;
			}
			a {
				color: $black;
				border: 0;
			}
		}
	}
}
