.issues-container {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			font-size: 16px;
			border-bottom: none;
			margin-left: 1rem;
			color: #ADB2A8;
		}
	}
}

.issueCard {
	position: relative;
	.fa-archive {
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
	}
}
