.chalk-loader {
	text-align: center;
	transition: all 0.5s;
	visibility: visible;
	opacity: 1;
	position: fixed;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: all 0.5s;
	display: flex;
	flex-flow: row wrap;
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
	.loader-container {
		margin: auto;
		padding: 2rem 5rem 4rem;
		@extend .card;
	}
	.loader {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 25px;
		background: $red;
		border-radius: 50%;
		animation: loading .5s infinite;
	}
	.loader:nth-child(2) {
		animation: loading .8s infinite;
	}
	.loader:nth-child(3) {
		animation: loading 1s infinite;
	}
	.loader:nth-child(4) {
		animation: loading 1.2s infinite;
	}
	.loader:nth-child(5) {
		animation: loading 1.4s infinite;
	}
}
@keyframes loading {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}