.loginCard {
	max-width: 780px;
	margin: 15vh auto 5vh;
	text-align: center;
	position: relative;
	padding: 140px 10px 30px;
	@include bp(md) {
		padding: 50px 0 15px;
		margin: 1rem 0 5rem;
	}
	.loginLogo {
		position: absolute;
		height: 200px;
		left: calc(50% - 100px);
		top: -70px;
		@include bp(md) {
			height: 100px;
			position: static;
		}
	}
	form {
		max-width: 36rem;
		margin: 0 auto;
		.fieldGroup:last-child {
			margin-top: 2rem;
		}
		input[type=submit] {
			width: 100%;
			margin: 0;
		}
	}
}

.fieldGroup--login {
	position: relative;
	margin-bottom: 1rem;
	input[type="text"], input[type="password"] {
		width: 100%;
	}
	label.inline {
		position: absolute;
		top: 25%;
		left: -7rem;
	}
}

// .fieldGroup:last-of-type {
// 	margin-top: 15px;
// }
