.loginCard {
	max-width: 780px;
	margin: 15vh auto 5vh;
	text-align: center;
	position: relative;
	padding: 140px 10px 30px;
	.loginLogo {
		height: 200px;
		position: absolute;
		left: calc(50% - 100px);
		top: -70px;
	}
	form {
		max-width: 36rem;
		margin: 0 auto;
		.button {
			width: 100%;
			margin: 0;
		}
	}
}

.fieldGroup--login {
	position: relative;
	margin-bottom: 1rem;
	input[type="text"], input[type="password"] {
		width: 100%;
	}
	label.inline {
		position: absolute;
		top: 25%;
		left: -7rem;
	}
}
