section.templateWrap {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 5rem;
	@include bp(sm) {

	}
	.classCard {
		display: inline-block;
		lost-waffle: 1/3;
		border: 0;
		color: $black;
		@include bp(md) {
			lost-waffle: 1/2;
		}
		@include bp(sm) {
			lost-waffle: 1/1;
		}
		article {
			padding: 1rem 1.5rem 2.4rem 2rem;
		}
		footer.classCardMeta {
			margin-top: 2rem;
			lost-flex-container: row;
			align-items: baseline;
			/*justify-content: flex-end;*/
		}
	}
}

.lessonGroupTop {
	lost-flex-container: row;
	align-items: center;
	/*margin-bottom: 1rem;*/
	padding-left: 1.4rem;
	h3 {
		/*margin-bottom: 0;*/
		max-width: 70%;
	}
	p.deleteSection {
		font-size: 1.3rem;
		margin: 0 0 0 1rem;
		cursor: pointer;
	}
}

li.placeholder { 
	background: #EFEFED;
}