.completed {
	color: grey;
}

.testProgress {
	display: flex;
	padding: 0;
	margin: 0; 
	li {
		border: 1px solid $green;
		margin: 0 10px;
		padding: 11px 20px;
		list-style-type: none;
		border-radius: 50%;
	}
	&__circles {
		display: block;
		li {
			margin-bottom: 8px;
			padding: 2px 11px;
		}
		&--pass{
			background: $green;
			color: white;
		}
		&--fail {
			background: red;
			color: white;
			border: 1px solid red;
			
		}
	}
}

.progressCard {
	display: flex;
	ul {
		padding: 0;
		margin: 0;
		&:nth-of-type(2) li {
			list-style: none;
			margin: 0 0 17px 0;
		}
	}
}

// .fillCircle {
// 	&--pass {
// 		background: $green;
// 		color: white;
// 	}
// 	&--fail {
// 		background: red;
// 		color: white;
// 		border: 1px solid red;
// 	}
// }


.codeSubmit {
	margin: 10px 0;
}