/* Red */
$red: #D31C1D;
$redLight: #E53D3E;
$redDark: #A61617;

/*Black*/
$black: #231F20;
$blackLight: #3E3739;
$blackDark: #080707;

/*Blue*/
$blue: #26A6C9;
$blueLight: #46BCDC;
$blueDark: #1E839E;

/* Green */
$green: #88CF41;
$greenLight: #A2D96A;
$greenDark: #6FB02D;

/* Grey */
$grey: #ADB2A8;
$greyLight: #C7CAC3;
$greyDark: #949A8D;

$inputGrey: #EFEFED;
$codeGrey: #E0E2DE;



