button, .button {
  font-family: $regularFont;
  display: inline-block;
  background: $grey;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1.7rem 2.5rem 1.9rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: $greyLight;
    border: 0;
    color: white;
  }
  &.primary {
    background: $blue;
    color: white;
    &:hover {
      background: $blueLight;
    }
  }
  &.success {
    background: $green;
    color: white;
    &:hover {
      background: $greenLight;
    }
  }
  &.error {
    background: $red;
    color: white;
    &:hover {
      background: $redLight;
    }
  }
}

input[type="submit"] {
  font-family: $regularFont;
  display: inline-block;
  background: $black;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: $blackLight;
    border: 0;
    color: white;
  }
}


button.small {
  display: inline-block;
  font-family: $regularFont;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  background: $grey;
  padding: 0.5rem 1rem;
  &.active {
    background: $red;
  }
}