header.mainHeader {
	padding: 40px 0;
	margin-bottom: 3rem;
	.innerWrap {
		position: relative;
		padding-left: ;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.4rem 3.9rem 2.4rem 240px;
		.topLogo {
			display: inline-block;
			position: absolute;
			width: 170px;
			top: -27px;
			left: 4.5rem;
		}
		p.signOut {
			margin: 0;
			a {
				color: $black;
				border: 0;
			}
		}
	}
}
