.lessonView {
	padding: 40px;
	margin-bottom: 50px;
}

input.nameInput {
	margin-right: 2rem;
	width: 50%;
}

.lessonEditContainer {
	border: 2px dashed $border;
	text-align: center;
	padding: 50px 0;
	cursor: pointer;
	margin-top: 50px;
	transition: all 0.2s;
	&:hover {
		border: 2px dashed color($border lightness(80%));
		color: color($black lightness(40%));
	}
	h3 {
		margin: 0;
	}
}

.show-favs {
	.lessonRow {
		display: none;
	}
	.lessonRow.fav {
		display: flex;
	}
}

.lessonFormHeader {

}
