.mediaWrap {
	padding: 15px 25px 15px 25px;
	ul.mediaList {
		padding: 0;
		margin: 0;
		li {
			border-bottom: 1px solid $border;
			&:last-child {
				border: 0;
			}
		}
	}
}

.mediaRow {
	lost-flex-container: row;
	justify-content: space-between;
	padding: 25px 0;
	.mediaIcon {
		lost-column: 1/4;
		display: flex;
		align-items: center;
		margin: 0;
		i {
			font-size: 3.5rem;
			margin-right: 1rem;
		}
	}
	input[type=text] {
		margin: 0 10px 0 0;
		border-radius: 5px;
		border: 2px solid $greyLight;
		padding: 1rem;
	}
	.mediaCopy {
		padding: 0.7rem 0.6rem 0.7rem 1rem;
		font-size: 2rem;
		border-radius: 5px;
	}
	.error {
		padding: 0.7rem 2rem 0.7rem 2rem;
	}
}