.noScroll {
	overflow: hidden;
}

.modal {
	background: rgba(0,0,0,0.5);
	position: fixed 0;
	z-index: 9999;
	overflow: scroll;
}

.modalBody {
	width: 95%;
	padding: 45px 45px 67px;
	position: absolute;
	left: 2.5%;
	/*top: 2.5%;*/
	margin: 2.5% 0;
	i.chalk-close {
		position: absolute;
		top: 10px;
		right: 10px;
		margin: 0;
	}
}

.lessonModalWrap {
	lost-flex-container: row;
	height: 100%;
	.lessonModalColumn:first-child {
		lost-column: 1/2;
	}
	.lessonModalColumn:first-child {
		lost-column: 2/6;
	}
	.lessonModalColumn:last-child {
		lost-column: 4/6;
	}
}

.lessonModalColumn input[type=text], .lessonModalColumn textarea {
	width: 100%;
}

.lessonAddContent {
	textarea {
		min-height: 400px;
	}
}

/*.lessonAddContent*/
.modalBtns {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

/*MODAL STYLES*/

.modal i{
  font-size: 30px;
  &:hover{
    cursor: pointer;
  }
}

.modal-animation-enter {
    opacity: 0.00;
    transition: all 0.2s;
}

.modal-animation-enter.modal-animation-enter-active {
    opacity: 1;
}
.modal-animation-leave {
    opacity: 1;
    transition: all 0.2s;
}

.modal-animation-leave.modal-animation-leave-active {
    opacity: 0.00;
}