section.templateWrap {
	lost-flex-container: row;
	margin-bottom: 5rem;
	article.classCard {
		lost-waffle: 1/2;
		padding: 35px 15px 20px 20px;
		footer.classCardMeta {
			margin-top: 4rem;
			lost-flex-container: row;
			align-items: baseline;
			justify-content: flex-end;
		}
	}
}