section.topicsWrap {
	margin-bottom: 5rem;
	.topicCard {
		cursor: pointer;
		lost-flex-container: row;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0;
		padding: 15px 35px 15px 35px;
		section.topicDetails {
			width: 50%;
		}
		h4, p {
			margin-bottom: 0;
		}

		footer.classCardMeta {

		}
	}
}

.topicsForm {
	padding: 25px 45px 10px;
	margin-bottom: 2rem;
	.fieldRow {
		margin-bottom: 10px;
	}
}

.topicRow {
	margin: 25px 0;
	padding: 45px 45px 40px 45px;
	.topicLong {
		width: 63%;
	}
	textarea {
		width: 100%;
	}
}

.dropZone {
	width: 100%;
	border: 2px dashed $border;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	p {
		margin: 0;
	}
}

ul.uploadedFiles {
	padding: 0;
	margin-bottom: 25px;
	list-style-type: none;
}
